@import url("https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Edu+AU+VIC+WA+NT+Guides:wght@400..700&family=Freckle+Face&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Staatliches&display=swap");



.navbar {
  margin-left: 20px;
}

.back {
  font-family: "Roboto Mono", monospace;
}

.logo {
  font-size: 30px;
  font-weight: 500;
  color: #010203;
  letter-spacing: 3px;
  font-family: "Roboto Mono", monospace;
}

.actions {
  margin-right: 40px;
}

.footer{
  margin-top: 60px;
}