@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}


.registerPage {
  height: 150vh;
  padding: 10px;
  background-color: #e3e3e1
}
.containerInRegister {
   display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
   margin: 0 auto;
  max-width: 900px;
  width: 100%;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  position: relative;
  top: 100px;
}
.containerInRegister .titleInRegister {
  font-size: 25px;
  font-weight: 500;
  letter-spacing: 2.5px;
  position: relative;
}
.containerInRegister .titleInRegister::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  border-radius: 5px;
  background: linear-gradient(135deg, #e3e3e1, #f0e96f);
}
.content form .user-detailsInRegister {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
form .user-detailsInRegister .input-box {
  margin-bottom: 15px;
    width: calc(100% / 2 - 20px);

}

.failed{
  color: red;
  text-transform: capitalize;
}

.success{
   color:  green;
     text-transform: capitalize;
}

form .input-box span.details {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.user-detailsInRegister .input-box input {
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.user-detailsInRegister .input-box input:focus,
.user-detailsInRegister .input-box input:valid {
  border-color: #9b59b6;
}
form .gender-details .gender-title {
  font-size: 20px;
  font-weight: 500;
}
form .category {
  display: flex;
  width: 80%;
  margin: 14px 0;
  gap: 20px;
}
form .category label {
  display: flex;
  align-items: center;
  cursor: pointer;
}
form .category label .dot {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 10px;
  background: #d9d9d9;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}
#dot-1:checked~.category label .one,
#dot-2:checked~.category label .two{
  background: #9b59b6;
  border-color: #d9d9d9;
}
form input[type="radio"] {
  display: none;
}
form .button {
  height: 45px;
  margin: 35px 0
}
form .button input {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  letter-spacing: 2.5px;
  transition: all 0.3s ease;
  background: linear-gradient(135deg, #e3e3e1, #f0e96f);
}
form .button input:hover {
  background: linear-gradient(-135deg, #e3e3e1, #f0e96f);
}
/* Responsive media query code for mobile devices */
@media(max-width: 584px) {
  .containerInRegister {
    max-width: 100%;
  }
  form .user-detailsInRegister .input-box {
    margin-bottom: 15px;
    width: 100%;
  }
  form .category {
    width: 100%;
  }
  .content form .user-detailsInRegister {
    max-height: 300px;
    overflow-y: scroll;
  }
  .user-detailsInRegister::-webkit-scrollbar {
    width: 5px;
  }
}
/* Responsive media query code for mobile devices */
@media(max-width: 459px) {
  .containerInRegister .content .category {
    flex-direction: column;
  }
}