/* @import url("https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Freckle+Face&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap"); */

/* @import url("https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Freckle+Face&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Staatliches&display=swap");
 */

/* @import url("https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Freckle+Face&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Staatliches&display=swap"); */

@import url("https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Edu+AU+VIC+WA+NT+Guides:wght@400..700&family=Freckle+Face&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Staatliches&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  /* font-family: "Poppins", "sans-serif"; */
  font-family: "Roboto Mono", monospace;
  text-wrap: balance;
  margin-top: 10px;
   background-color: #e3e3e1;
}

/* InterVariable, system-ui, sans-serif;
    --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; */
/* .container{
margin-left: 20px;
} */
.container {
 
    background-color: #e3e3e1;

}


.landing_ProductPage {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 20px;
}

.header_ProductPage {
  font-size: 30px;
  text-transform: capitalize;
  margin-top: 70px;
  margin-left: 35px;
}

.header_text_ProductPage {
  font-weight: 800;
}

.sub_headerProductPage {
  font-size: 16px;
  margin-top: 30px;
  font-weight: 500;
}

.buy_cta {
  font-size: 16px;
  position: relative;
  bottom: 10px;
  border-width: 2px;
  cursor: pointer;
  margin-top: 60px;
  border-radius: 20px;
  margin-bottom: 70px;
  width: 180px;
  height: 50px;
}

.buy_cta:hover {
  background-color: #f0e96f;
  color: white;
}

.sunglasees_image {
  width: 400px;
  height: 500px;
  object-fit: cover;
  margin-right: 300px;
  margin-bottom: 100px;

}


.landing_products_page {
  margin-bottom: 30px;
}

.keywords {
  letter-spacing: 1px;
  cursor: pointer;
}

.products {
  margin-top: 40px;
}

.product-card {
  margin: 0 auto;
  display: flex;
  margin-top: 60px;
  cursor: pointer;
}

.product-image {
  position: relative;
  bottom: 50px;
}

.product-name {
  text-transform: capitalize;
  text-align: center;
  word-wrap: break-word;
  letter-spacing: 1px;
}

.product-price {
  text-align: center;
}
